.info {
  position: absolute;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* bottom: 45%;
  left: max(3rem, 43%); */
  font-size: max(1.5rem, 24px);
}

.info p {
  margin-bottom: 0.25rem;
  color: var(--nav-text);
}

.info .links a {
  text-decoration: none;
  color: var(--nav-text);
}

.info .links a:hover {
  color: red;
}
