.info {
  position: absolute;
  bottom: 4.5rem;
  right: max(3rem, 15%);
  font-size: max(1.5rem, 20px);
}

.info p {
  margin-bottom: 0.25rem;
}

.info .links a {
  text-decoration: none;
  color: black;
}

.info .links a:hover {
  color: var(--primary);
}
