nav {
  position: fixed;
  margin: 1.25rem;
}

.nav-dropdown-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 5rem;
  height: 5rem;
}

.nav-dropdown-button img {
  width: 100%;
  height: 100%;
}

.nav-dropdown {
  border: black 1px solid;
  width: fit-content;
  margin-left: 0.5rem;
}

.nav-dropdown ul {
  list-style-type: none;
}

.nav-dropdown li > button {
  width: 100%;
  background-color: transparent;
  border: none;
  padding: 1rem 1.5rem;
  font-size: 1.125rem;
  font-family: inherit;
  text-align: left;
  cursor: pointer;
  transition: color 0.2s;
}

.nav-dropdown li > button:not(:disabled):hover {
  color: var(--primary);
}

.nav-dropdown li > button:disabled {
  color: var(--text-muted);
  cursor: auto;
}
