nav {
  position: fixed;
  margin: 1.25rem;
  z-index: 999;
  font-family: Helvetica, sans-serif;
}

.nav-dropdown-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: max(5rem, 60px);
  height: max(5rem, 60px);
}

.nav-dropdown-button img {
  width: 100%;
  height: 100%;
}

.nav-dropdown {
  border: black 1px solid;
  width: fit-content;
  margin-left: max(0.5rem, 8px);
  background-color: var(--bg-light);
}

.nav-dropdown ul {
  list-style-type: none;
}

.nav-dropdown li > a {
  width: 100%;
  background-color: transparent;
  border: none;
  color: var(--nav-text);
  padding: max(1rem, 14px) max(1.5rem, 20px);
  font-size: max(1.125rem, 16px);
  font-family: inherit;
  text-align: left;
  cursor: pointer;
  transition: color 0.2s;
  text-decoration: none;
  display: inline-block;
}

.nav-dropdown li > a:not(:disabled):hover {
  color: red;
}

.nav-dropdown li > a:disabled {
  color: rgb(185, 173, 173);
  cursor: auto;
}
