.frame {
  width: 65rem;
  margin: 2rem auto 15rem auto;
  min-height: 37rem;
  border: solid 1px black;
  border-top-left-radius: 0.75rem;
  border-top-right-radius: 0.75rem;
  padding: 1.5rem;
  background-color: #c6c7c9;
  display: flex;
  position: relative;
}

.paper-border {
  flex: 1;
  box-shadow: 0 0 1rem #a2a3a4;
  position: relative;
}

.paper-border::before {
  content: "";
  position: absolute;
  top: -0.4rem;
  left: 0;
  bottom: -0.4rem;
  width: 1.125rem;
  background-color: black;
  z-index: 2;
}

.paper-border::after {
  content: "";
  position: absolute;
  top: -0.4rem;
  right: 0;
  bottom: -0.4rem;
  width: 1.125rem;
  background-color: black;
  z-index: 2;
}

.paper {
  background-color: #dfdfdf;
  width: 100%;
  height: 100%;
  position: relative;
  border-left: 0.4rem solid black;
  border-right: 0.4rem solid black;
  z-index: 3;
  padding: 0 1rem;
  overflow: hidden;
}

.blur-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0.25rem;
  right: 0.25rem;
  z-index: 4;
  background-image: repeating-linear-gradient(
      0deg,
      #dfdfdf 0px,
      #dfdfdf 1px,
      transparent 1px,
      transparent 2px
    ),
    repeating-linear-gradient(
      90deg,
      #dfdfdf 0px,
      #dfdfdf 1px,
      transparent 1px,
      transparent 2px
    );
  mix-blend-mode: multiply;

  backdrop-filter: blur(30px) brightness(0.5) saturate(0.3);
}

.paper::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0.75rem;
  height: 100%;
  background: linear-gradient(to left, rgba(0, 0, 0, 0.4), transparent);
  filter: blur(4px);
  pointer-events: none;
  z-index: 2;
}

.paper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0.75rem;
  height: 100%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.4), transparent);
  filter: blur(4px);
  pointer-events: none;
  z-index: 2;
}

.button-bar {
  position: absolute;
  width: calc(100% + 1.25rem);
  height: 7.5rem;
  background-color: #dfdfdf;
  bottom: -7.5rem;
  left: -0.75rem;
  border: 1px solid black;
  border-top-left-radius: 0.75rem;
  border-top-right-radius: 0.75rem;
}

.button-bar-frame {
  height: 100%;
  width: 100%;
  position: relative;
}

.light-button {
  background-color: transparent;
  border: none;
  position: absolute;
  width: 3.25rem;
  top: -0.5rem;
  right: 0;
  cursor: pointer;
  transform-origin: 60% 50%;
  transform: rotate(-90deg);
  transition: transform 0.1s;
}

.light-button:active,
.light-button.active {
  transform: rotate(0);
}

.light-button img {
  width: 100%;
  height: 100%;
}

.buttons-attachment {
  background-color: #c6c7c9;
  position: absolute;
  left: 3.75rem;
  top: 1.75rem;
  bottom: 0;
  width: 20rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.75rem;
  padding: 0.5rem;
  z-index: 1;
}

.button-labels {
  display: flex;
  flex-wrap: wrap;
  padding: 0.5rem;
  padding-top: 0;
  position: absolute;
  left: 3.75rem;
  width: 20rem;
  bottom: -1rem;
  z-index: 2;
  font-size: 0.75rem;
}

.play-label,
.prev-label,
.next-label {
  margin-left: 0.75rem;
  margin-right: 1.75rem;
}

.vol-down-label {
  margin-right: 1.25rem;
}

.buttons-attachment::before {
  content: "";
  position: absolute;
  background-color: black;
  top: 0;
  bottom: 1.125rem;
  left: 0;
  width: 20rem;
  z-index: 0;
  border: none;
}

.buttons-attachment > button {
  flex: 1;
  background-color: #333132;
  height: 4.5rem;
  border: 1px solid black;
  z-index: 1;
  color: white;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.8);
  cursor: pointer;
  position: relative;
  transition: all 0.15s;
}

.buttons-attachment > button:active {
  transform: translateY(3px);
  box-shadow: 0 0px 8px rgba(0, 0, 0, 0.8);
}

.buttons-attachment > button:nth-child(1) {
  background-color: #d32727;
}

.buttons-attachment > button:nth-child(2) img {
  transform: scaleX(-1) scaleY(-1);
}

.buttons-attachment > button:nth-child(1) svg {
  height: 37.5%;
  width: 32.5%;
}

.buttons-attachment > button img,
.buttons-attachment > button svg {
  width: 30%;
  height: 25%;
}

.frame-bottom {
  position: absolute;
  bottom: -1rem;
  height: 1rem;
  width: 92.5%;
  left: 3.75%;
  background-color: #c6c7c9;
  border: solid 1px black;
  border-top: none;
  z-index: 0;
}

.frame-bottom-left {
  position: absolute;
  bottom: -1rem;
  height: 1rem;
  width: 2.5%;
  left: 1.25%;
  background-color: #dfdfdf;
  border: solid 1px black;
  border-right: none;
  border-bottom-left-radius: 1rem;
  z-index: 0;
}

.frame-bottom-right {
  position: absolute;
  bottom: -1rem;
  height: 1rem;
  width: 2.5%;
  right: 1.25%;
  background-color: #dfdfdf;
  border: solid 1px black;
  border-left: none;
  border-bottom-right-radius: 1rem;
  z-index: 0;
}
